body {
    background-color: $background-pink;
    box-sizing: border-box;
} 

#createAgenda__container {

    display: flex;
    flex-wrap: wrap;
}

.background__menu, .background__profile {
    background-color: $background-salmon;
}

.background__menu {
    clip-path: circle(50% at 50% 50%);
    height: 40vh;
    width: 40vw;
}

.background__profile {
    height: 20vh;
    width: 20vw; 
}